/* PAGINATION */

.pagination {
  display: flex;
}

.page,
.break-me,
.previous-page,
.next-page {
  cursor: pointer;
  border: 1px solid #000;
}

.active {
  background-color: blue;
  color: #fff;
}

.previous-page {
  margin-right: 1rem;
}

.next-page {
  margin-left: 1rem;
}

.disabled-previous-and-next-label {
  display: none;
}

/* AUTOSUGGEST */

.highlight {
  color: #ee0000;
  font-weight: bold;
}

.thumbnail {
  width: 30px;
  height: 30px;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__suggestions-container {
  background-color: gray;
  position: absolute;
  top: 30px;
}
