:root {
  --main-red: #f60c02;
  --main-gray: #757575;
  --transition-time-curtain-menu: 0.5s;
  --transition-time-hover: 0.3s;
  --header-heigth: 8rem;
  --width-search-bar: 60%;
  --background-color-gray: #292d33;
}

/* GENERAL SETTINGS */

html {
  font-size: 62.5%; /* Resize `rem` compared to `px` to make easy calculations */

  /* Responsive footer */
  height: 100%;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color-gray);

  /* Responsive footer */
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-content-wrapper {
  margin-top: calc(var(--header-heigth) + 7rem) !important;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
}

/* TITLE */

h2 {
  font-size: 4rem;
  text-align: center;
  color: #fff;
}

/* BUTTON */

button[disabled="disabled"] {
  cursor: not-allowed;
}

button {
  text-transform: uppercase;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.button-filled-with-red {
  background-color: var(--main-red);
  color: #fff;
}

.button-with-red-border {
  background-color: #fff;
  border: 0.1rem solid var(--main-red);
  color: var(--main-red);
  box-sizing: border-box;
}

/* LINK */

a {
  text-decoration: none;
  color: var(--main-red);
}

/* RESPONSIVE */

@media (max-width: 1260px) {
  .container {
    width: auto;
    padding: 0 3rem;
    box-sizing: border-box;
  }
}

@media (max-width: 640px) {
  .main-content-wrapper {
    margin-top: calc(var(--header-heigth) + 12rem) !important;
  }
}
